* {
    margin: 0px;
    padding: 0px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

div { 
    height: 200px ;
    width: 100vw ;
}

#grid_container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 100px 500px;
}