* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

/* etiqueta */

div p {
    color:red ;
}

/* id == # */

#p_chau {
    color: darkblue;
}

/* clases == . */

.p_class {
    color: aquamarine;
}

/* COLOR */
.p {
    color: black; 
}

.p {
    color: rgb(red, green, blue);
}

.p {
    color: #eea45e;
}

/* ESTILOS */

li {
    list-style: none;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration: none;
}

body {
    height: 100vh;
    /* background-color: beige; */
    background-image: url(https://img.freepik.com/vector-gratis/nota-papel-sobre-fondo-memphis_53876-99285.jpg?w=2000);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-size: 2rem;
}
p {
    font-size: 2rem
}

.actividad1 {color: orange;
font-size: 2rem;
}